.lx-duration-input-wrapper.lx-read-only .lx-duration-container {
  align-items: center;
}

.lx-duration-input-wrapper:not(.lx-duration-variant-default) .lx-duration-container {
  width: fit-content;
}

.lx-duration-input-wrapper.lx-duration-kind-icon .lx-duration-container {
  display: flex;
  gap: var(--space-0250);
}

.lx-duration-input-wrapper.lx-duration-kind-icon.lx-duration-variant-default .lx-duration-container {
  gap: var(--space-1000);
}

.lx-duration-input-wrapper.lx-read-only.lx-duration-kind-icon.lx-duration-variant-default .lx-duration-container {
  gap: var(--space-0500);
}

.lx-duration-input-wrapper.lx-duration-kind-icon.lx-duration-responsive .lx-duration-container {
  flex-direction: column;
}

.lx-duration-input-wrapper .lx-duration-result-icon svg {
  height: var(--icon-size-m);
  width: var(--icon-size-m);
  margin-left: var(--space-0500);
  margin-top: var(--space-0500);
  margin-right: var(--space-0500);
}

.lx-duration-input-wrapper .lx-duration-result-icon .popper-wrapper {
  width: fit-content;
}

.lx-duration-input-wrapper .lx-duration-result-label {
  font-size: var(--small-font-size);
  letter-spacing: var(--letter-spacing-2);
  display: inline-block;
  color: var(--color-label);
  font-weight: var(--font-weight);
  vertical-align: baseline;
  margin-top: var(--space-0125);
}

.lx-duration-input-wrapper:not(.lx-duration-variant-default) .lx-duration-fields .lx-input-wrapper {
  position: relative;
  width: 7.25rem;
}

.lx-duration-input-wrapper .lx-duration-fields .lx-duration-unit {
  position: absolute;
  right: var(--input-icon-wrapper-width);
  top: 0;
  height: var(--input-icon-wrapper-height);
  align-content: center;
  margin-left: var(--space-0500);
}

.lx-duration-input-wrapper .lx-duration-fields {
  display: grid;
}

.lx-duration-input-wrapper.lx-duration-variant-default .lx-duration-fields {
  gap: var(--space-1000);
  grid-template-columns: 1fr 1fr;
}

.lx-duration-input-wrapper:not(.lx-duration-variant-default) .lx-duration-fields {
  gap: var(--space-0250);
  grid-auto-flow: column;
}

.lx-duration-input-wrapper.lx-duration-responsive:not(.lx-duration-variant-default) .lx-duration-container {
  width: calc(2 * 7.25rem + var(--space-0250));
}

.lx-duration-input-wrapper.lx-duration-responsive.lx-duration-variant-hours .lx-duration-fields {
  grid-template-areas: "hours minutes";
}

.lx-duration-input-wrapper.lx-duration-responsive.lx-duration-variant-days .lx-duration-fields {
  grid-template-areas:
    "days ."
    "hours minutes";
}

.lx-duration-input-wrapper.lx-duration-responsive.lx-duration-variant-months .lx-duration-fields {
  grid-template-areas:
    "months days"
    "hours minutes";
}

.lx-duration-input-wrapper.lx-duration-responsive .lx-duration-input-months {
  grid-area: months;
}

.lx-duration-input-wrapper.lx-duration-responsive .lx-duration-input-days {
  grid-area: days;
}

.lx-duration-input-wrapper.lx-duration-responsive .lx-duration-input-hours {
  grid-area: hours;
}

.lx-duration-input-wrapper.lx-duration-responsive .lx-duration-input-minutes {
  grid-area: minutes;
}

@media (max-width: 900px) {
  .lx-duration-input-wrapper.lx-duration-kind-icon.lx-duration-variant-default:not(.lx-read-only) .lx-duration-container {
    flex-direction: column;
    grid-gap: var(--space-0500);
  }

  .lx-duration-input-wrapper.lx-duration-variant-default .lx-duration-fields {
    grid-gap: var(--space-0500);
    grid-template-columns: 1fr;
  }
}
