@font-face {
  font-display: auto;
  font-family: 'RobotoLX';
  font-style: normal;
  font-weight: 100 900;
  src: url('/lx-fonts/RobotoVar.ttf') format('truetype-variations');
}

@font-face {
  font-display: auto;
  font-family: 'RobotoLX';
  font-style: italic;
  font-weight: 100 900;
  src: url('/lx-fonts/RobotoVar-Italic.ttf') format('truetype-variations');
}

.lx {
  --font-family: 'RobotoLX', sans-serif;
}
