.lx .lx-notifications-list {
  position: fixed;
  right: var(--space-0);
  top: var(--nav-row-size);
  top: calc(var(--nav-row-size) + var(--space-0500));
  z-index: 9000;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  gap: var(--space-0500);
  padding-bottom: var(--space-1000);
  padding-inline-start: 0;
}

.lx .lx-notifications-list .lx-notification {
  border: var(--region-border-transparent);
  margin: var(--space-0) var(--space-1000);
}

.lx.lx-theme-contrast .lx-notifications-list .lx-notification:hover {
  border-color: var(--color-interactive-hover-background);
}

.lx.lx-theme-contrast .lx-notifications-list .lx-notification:active {
  border-color: var(--color-interactive-active-background);
}

.lx .lx-notifications-list .lx-notification .lx-main {
  width: var(--notification-size);
  min-height: var(--row-size);
  padding: var(--space-0500);
  box-shadow: var(--shadow-dropdown);
  background-color: var(--color-region);
  border-style: solid;
  border-color: var(--color-chrome);
  border-width: var(--notification-border);
  display: flex;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
}

.lx .lx-notifications-list .lx-notification svg {
  height: var(--icon-size-m);
  width: var(--icon-size-m);
  margin-right: var(--space-0500);
  flex-shrink: 0;
  margin-top: var(--space-0250);
}

.lx .lx-notifications-list .lx-notification.lx-notification-success .lx-main {
  border-color: var(--color-notification-success-foreground);
  background-color: var(--color-notification-success-background);
}

.lx .lx-notifications-list .lx-notification.lx-notification-success svg {
  fill: var(--color-notification-success-foreground);
}

.lx .lx-notifications-list .lx-notification.lx-notification-success .lx-title {
  color: var(--color-notification-success-foreground);
}

.lx .lx-notifications-list .lx-notification.lx-notification-warning .lx-main {
  border-color: var(--color-notification-warning-foreground);
  background-color: var(--color-notification-warning-background);
}

.lx .lx-notifications-list .lx-notification.lx-notification-warning svg {
  fill: var(--color-notification-warning-foreground);
}

.lx .lx-notifications-list .lx-notification.lx-notification-warning .lx-title {
  color: var(--color-data);
}

.lx .lx-notifications-list .lx-notification.lx-notification-error .lx-main {
  border-color: var(--color-notification-error-foreground);
  background-color: var(--color-notification-error-background);
}

.lx .lx-notifications-list .lx-notification.lx-notification-error svg {
  fill: var(--color-notification-error-foreground);
}

.lx .lx-notifications-list .lx-notification.lx-notification-error .lx-title {
  color: var(--color-notification-error-foreground);
}

.lx .lx-notifications-list .lx-notification .lx-text-wrapper {
  overflow: hidden;
  margin-right: var(--space-0500);
}

.lx .lx-notifications-list .lx-notification p.lx-title,
p.lx-subtitle {
  line-height: 1.25rem;
  padding-bottom: var(--space-0500);
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx .lx-notifications-list .lx-notification p.lx-title {
  font-weight: 800;
  padding-top: var(--space-0500);
}

.lx .lx-notifications-list .lx-notification .lx-close-icon {
  margin-left: auto;
  margin-right: var(--space-0);
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.lx .lx-notifications-list .lx-notification svg.lx-close-icon {
  fill: var(--color-data);
}

.lx .lx-notifications-list:empty {
  display: none;
}

@media (max-width: 800px) {
  .lx .lx-notifications-list {
    width: 100%;
    left: var(--space-0);
    padding-inline-start: 0;
    margin-top: var(--space-0500);
    gap: var(--space-0125);
  }

  .lx .lx-notifications-list .lx-notification .lx-main {
    width: 100%;
  }
}
/* LxInfoBox styles */

.lx-info-box-button>.lx-info-box-icon {
  margin-top: var(--space-0);
  margin-right: var(--space-0500);
  min-width: var(--icon-size-m);
  min-height: var(--icon-size-m);
}

.lx-info-box-button {
  display: flex;
  padding: var(--space-0500);
  width: 100%;
  box-sizing: border-box;
  border: var(--border-width-2) solid var(--color-chrome);
  background-color: var(--color-region);
}

.lx-info-box-button.lx-alert-warning>.lx-info-box-icon>svg {
  fill: var(--color-notification-warning-foreground);
}

.lx-info-box-button.lx-alert-error>.lx-info-box-icon>svg {
  fill: var(--color-notification-error-foreground);
}

.lx-info-box-button.lx-alert-success>.lx-info-box-icon>svg {
  fill: var(--color-notification-success-foreground);
}

.lx-info-box-button .lx-alert-header {
  font-weight: 700;
  color: var(--color-data);
  margin-bottom: var(--space-0250);
  margin-top: var(--space-0250);
}

.lx-info-box-button .lx-alert-description {
  color: var(--color-data);
  font-size: var(--small-font-size);
  margin-bottom: var(--space-0250);
  margin-top: var(--space-0250);
  line-height: 1.1em;
}

.lx-info-box-button.lx-alert-warning {
  border-color: var(--color-notification-warning-foreground);
  background-color: var(--color-notification-warning-background);
}

.lx-info-box-button.lx-alert-error {
  border-color: var(--color-notification-error-foreground);
  background-color: var(--color-notification-error-background);
}

.lx-info-box-button.lx-alert-success {
  border-color: var(--color-notification-success-foreground);
  background-color: var(--color-notification-success-background);
}

.lx-info-box-action-icon {
  margin-left: auto;
  margin-bottom: auto;
}

.lx-info-box-action-icon .lx-button svg {
  --color-button-ghost-icon: var(--color-data);
  --color-button-ghost-icon-focus: var(--color-data);
}

.lx-info-box-button .lx-alert-data {
  overflow: hidden;
}

.lx .lx-layout .lx-info-box-button .lx-alert-data .lx-alert-header .lx-data {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.1em;
}

.lx-info-box-button .lx-alert-description .lx-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-info-box-button.lx-alert-clickable {
  cursor: pointer;
}

.lx-info-box-button.lx-alert-clickable:hover {
  border-color: var(--color-interactive-hover-background);
}

.lx-info-box-button.lx-alert-clickable:focus {
  outline: 2px solid var(--color-focus-background);
}

.lx-info-box-additional-buttons-hidden {
  visibility: hidden;
}

.lx-info-box-spacer {
  margin-left: var(--space-0500);
}