.lx-notification-list {
  position: fixed;
  right: var(--space-0);
  top: var(--nav-row-size);
  z-index: 9000;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100dvh - var(--nav-row-size) - var(--space-1000));
  row-gap: var(--notification-item-gap);
  padding-inline-start: 0;
  margin-bottom: calc(var(--nav-row-size) + var(--space-0500)); /* top + padding-bottom so overflow items are visible */
  margin-top: var(--space-0500);
  padding: var(--space-0250) var(--space-0);
}

.lx-notification-wrapper {
  margin: var(--space-0) var(--space-1000);
  box-shadow: var(--shadow-dropdown);
  border-radius: var(--notification-border-radius);
  cursor: pointer;
}

.lx-notification {
  display: grid;
  grid-template-areas: var(--notification-grid-areas);
  grid-template-columns: var(--notification-grid-template-columns);
  grid-template-rows: var(--notification-grid-template-rows);
  align-items: start;
  gap: var(--notification-gap);
  padding: var(--notification-padding);
  border-width: var(--notification-border-width);
  border-style: var(--notification-border-style);
  border-color: var(--color-notification-border);
  border-radius: var(--notification-border-radius);
  background: var(--color-notification-background);
  width: var(--notification-width);
}

.lx-notification .lx-notification-icon {
  width: var(--notification-icon-size);
  height: var(--notification-icon-size);
  grid-area: icon;
}

.lx-notification .lx-notification-icon svg {
  fill: var(--color-notification-icon);
}

.lx-notification.lx-notification-success {
  --color-notification-border: var(--color-notification-success-foreground);
  --color-notification-background: var(--color-notification-success-background);
  --color-notification-icon: var(--color-notification-success-foreground);
  --color-notification-text-primary: var(--color-notification-success-foreground);
}

.lx-notification.lx-notification-warning {
  --color-notification-border: var(--color-notification-warning-foreground);
  --color-notification-background: var(--color-notification-warning-background);
  --color-notification-icon: var(--color-notification-warning-foreground);
  --color-notification-text-primary: var(--color-data);
}

.lx-notification.lx-notification-error {
  --color-notification-border: var(--color-notification-error-foreground);
  --color-notification-background: var(--color-notification-error-background);
  --color-notification-icon: var(--color-notification-error-foreground);
  --color-notification-text-primary: var(--color-notification-error-foreground);
}

.lx-notification .lx-text-wrapper {
  row-gap: var(--notification-row-gap);
  padding: var(--notification-content-padding);
  flex-direction: column;
  grid-area: content;
  display: flex;
  overflow: hidden;
}

.lx-notification .lx-title,
.lx-notification .lx-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.lx-notification .lx-title {
  font-weight: var(--notification-text-primary-font-weight);
  color: var(--color-notification-text-primary);
  font-size: var(--notification-text-primary-font-size);
  line-height: var(--notification-text-primary-line-height);
}

.lx-notification .lx-subtitle {
  font-weight: var(--notification-text-secondary-font-weight);
  color: var(--color-notification-text-secondary);
  font-size: var(--notification-text-secondary-font-size);
  line-height: var(--notification-text-secondary-line-height);
}

.lx-notification .lx-close-icon {
  grid-area: button;
  width: var(--notification-icon-close-size);
  height: var(--notification-icon-close-size);
  fill: var(--color-notification-icon-close);
}

.lx-notification-list:empty {
  display: none;
}

@media (max-width: 800px) {
  .lx-notification,
  .lx-notification-list {
    width: 100%;
  }
}