.lx {
  --color-brand: #0042BA;
  --color-background: #EEEAE3;
  --color-data: #3C402B;
  --color-chrome: #DADADA;
  --color-region: #FFF;
  --color-label: #3C402B;
  --color-placeholder: #6C6C6C;
  --color-interactive-background: #0042BA;
  --color-interactive-secondary-foreground: var(--color-data);
  --color-interactive-secondary-background: #FFF;
  --color-modal-button-secondary-background: #3C402B;
  --color-modal-button-secondary-text: var(--color-region);
  --color-modal-button-primary-text-disabled: #8d8d8d;
  --color-modal-button-primary-border-disabled: var(--color-modal-button-primary-background-disabled);
  --color-button-primary-background-disabled: #86A5D0;
  --color-button-secondary-background-disabled: #F7F5F3;
  --color-button-primary-text-disabled: #E8E8E8;
  --color-button-secondary-text-disabled: #B3B3B3;
  --color-button-primary-icon-disabled: var(--color-button-primary-text-disabled);
  --color-button-secondary-icon-disabled: var(--color-button-secondary-text-disabled);


  --font-size: 16px;

  --label-font-size: 0.875rem;

  --h1-font-size: 2rem;
  --h1-font-weight: 700;

  --h2-font-size: 1.5rem;
  --h2-font-weight: 400;

  --h3-font-size: 0.875rem;
  --h3-font-weight: 600;

  --list-item-border-radius: var(--border-radius-0750);
  --list-header-min-height: 3.5rem;

  --input-border: var(--border-width-1) solid var(--color-input);
  --input-border-bottom: var(--border-width-1) solid var(--color-input);
  --input-border-radius: var(--border-radius-full);
  --input-height: 3.5rem;

  --button-ghost-gap: var(--space-1000);
  --button-primary-border-radius: var(--border-radius-0500);
  --button-secondary-border-radius: var(--border-radius-0500);
  --button-tertiary-border-radius: var(--border-radius-0500);
  --button-ghost-border-radius: var(--border-radius-0500);
  --button-primary-text-font-weight: var(--font-weight-bold);

  --toolbar-button-primary-border-radius: var(--border-radius-0500);
  --toolbar-button-secondary-border-radius: var(--border-radius-0500);
  --toolbar-button-tertiary-border-radius: var(--border-radius-0500);
  --toolbar-button-ghost-border-radius: var(--border-radius-0500);
}

.lx.lx-theme-dark {
  --color-brand: #74aeff;
  --color-background: #292826;
  --color-data: #e3dfd6;
  --color-chrome: #7b7b6c;
  --color-region: #3c3936;
  --color-label: #e3dfd6;
  --color-region-2: #514e4b;
  --color-region-hover: var(--color-region-2);
  --color-interactive-background: #74aeff;
  --color-interactive-secondary-background: #5c5a4e;
  --color-interactive-hover-background: #2e61a7;
  --color-nav-item-background-selected: var(--color-region-2);
  --color-modal-button-primary-text-disabled: #8C8982;
  --color-modal-button-primary-background-disabled: #514e4b;
  --color-modal-button-primary-border-disabled: var(--color-modal-button-primary-background-disabled);  --color-button-primary-background-disabled: #323242;
  --color-button-secondary-background-disabled: #383633;
  --color-button-primary-text-disabled: #6F717C;
  --color-button-secondary-text-disabled: #8C8982;
  --color-button-primary-icon-disabled: var(--color-button-primary-text-disabled);
  --color-button-secondary-icon-disabled: var(--color-button-secondary-text-disabled);
  
}