.lx {
  font-size: var(--font-size);
  --font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    Courier, monospace;
  --font-features-mono: 'ss04';
  --font-smoothing-moz: grayscale;
  --font-smoothing-wk: antialiased;
  --text-rendering: optimizeLegibility;
  --font-size: 16px;
  --font-weight: 400;
  --font-weight-interactive: 400;
  --font-weight-data: 600;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;
  --text-decoration-link: underline;

  --icon-size-xs: 1rem;
  --icon-size-s: 1.25rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem;

  --border-width-0: 0px;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-4: 4px;

  --border-radius-0: 0;
  --border-radius-0125: 0.125rem;
  --border-radius-0250: 0.25rem;
  --border-radius-0500: 0.5rem;
  --border-radius-0750: 0.75rem;
  --border-radius-1000: 1rem;
  --border-radius-full: 100vh;

  --border-radius-default: var(--border-radius-0);

  --space-0:	0rem;
  --space-0125:	0.125rem;
  --space-0250:	0.25rem;
  --space-0375: 0.375rem;
  --space-0500:	0.5rem;
  --space-0750:	0.75rem;
  --space-1000:	1rem;
  --space-1250:	1.25rem;
  --space-1500:	1.5rem;
  --space-2000:	2rem;
  --space-2500:	2.5rem;
  --space-3000:	3rem;
  --space-4000:	4rem;
  --space-5000:	5rem;

  --color-preview-backdrop: rgba(0, 0, 0, 0.1);

  --description-font-weight: 400;

  --h1-font-size: 3.3rem;
  --h1-font-weight: 300;
  --h2-font-size: 1.5rem;
  --h2-font-weight: 500;
  --small-font-size: 0.875rem;
  --label-font-size: 0.875rem;
  --data-weight: 600;

  --letter-spacing-1: 0.01rem;
  --letter-spacing-2: 0.02rem;

  --gap-form: var(--space-2000);
  --gap-buttons: var(--space-0500);

  --gap-form-small-side: var(--space-1000);
  --gap-form-small: var(--space-2000) var(--gap-form-small-side) var(--space-1000) var(--gap-form-small-side);

  --row-size: 3rem;
  --row-dynamic: var(--row-size);
  --nav-row-size: 3rem;
  --public-nav-header-size: calc(var(--nav-row-size) + var(--row-size));
  --notification-size: 28rem;
  --body-column-size: 1300px;
  --form-column-size: 30rem;
  --aside-size: 16rem;
  --grid-primary-button-size: 12rem;
  --indicator-size: 2.5rem;

  --aside-border: var(--border-width-0) solid var(--color-chrome);
  --region-border: var(--border-width-0);
  --region-border-transparent: var(--border-width-2) solid transparent;

  --tab-border: var(--border-width-4) solid transparent;

  --notification-border: var(--border-width-0) var(--border-width-0) var(--border-width-0) var(--border-width-4);

  --padding-dropdown: var(--space-0500);
  --padding-cell: var(--space-0750) var(--space-1000);
  --padding-grid-header: var(--space-1000);
  --padding-form: var(--space-3000) var(--space-2000);
  --padding-default: var(--space-1000);
  --padding-modal: var(--space-1000) var(--space-1000) var(--space-2000) var(--space-1000);
  --padding-form-negative: -2rem;
  --padding-tab-body: var(--space-1000) var(--space-2000);

  --shadow-1: 0 1px 2px 0 var(--color-shadow);
  --shadow-dropdown: 0 4px 8px 0 var(--color-shadow);
  --shadow-modal: 0 1px 2px 0 var(--color-shadow);

  --screen-xxxl: 2000px;
  --screen-xxl: 1900px;
  --screen-xl: 1784px;
  --screen-l: 1584px;
  --screen-m: 1312px;
  --screen-s: 1056px;
  --screen-xs: 800px;
  --screen-xxs: 672px;
  --screen-xxxs: 320px;

  --selected-border: var(--border-width-2) solid var(--color-selected-border);
  --selected-dropdown-border: var(--border-width-2) solid var(--color-selected-dropdown-border);

  --card-min-height: 12rem;
  --card-border: var(--border-width-2) solid var(--color-card-background);
  --card-border-region: var(--border-width-2) solid var(--color-card-background-region);
  --card-border-radius: var(--border-radius-0);
  --card-padding: var(--space-1000);
  --card-width: auto;

  --list-button-border-radius: var(--border-radius-0);
  --list-button-max-height: var(--row-size);
  --list-button-width: var(--row-size);
  --list-category-border-radius: var(--border-radius-0);
  --list-category-margin: var(--space-0250);
  --list-category-width: 0.25rem;
  --list-icon-size: var(--icon-size-m);
  --list-icon-wrapper-max-height: var(--list-button-max-height);
  --list-icon-wrapper-width: var(--list-button-width);
  --list-item-min-height: var(--row-size);
  --list-item-gap: var(--space-0500);
  --list-item-header-padding: 0.25rem 0.35rem 0.2rem 0.25rem; /* TODO: use tokens instead */
  --list-item-header-min-height: 2.75rem;
  --list-item-border: var(--border-width-2) solid transparent;
  --list-item-border-radius: var(--border-radius-0);
  --list-item-border-radius-inner: var(--list-item-border-radius);
  --list-item-loader-padding: var(--space-1000) var(--space-0) var(--space-0) var(--space-0);
  --list-item-selecting-block-padding: var(--space-1000) var(--space-0) var(--space-0) var(--space-0);
  --list-item-width: auto;
  --list-grid-areas: 'category content invalid-icon icon loader actions selecting';
  --list-grid-inner-column-span: 1 / span 4;
  --list-grid-outer-column-span: 1 / span 6;
  --list-grid-template-columns: auto 1fr auto auto auto auto auto;
  --list-text-primary-font-size: var(--font-size);
  --list-text-primary-font-weight: bold;
  --list-text-primary-line-height: 1.2em;
  --list-text-primary-margin: -0.1rem 0 0 0; /* TODO: use tokens instead*/
  --list-text-primary-padding: 0.1rem 0 0.1rem 0;
  --list-text-secondary-font-size: var(--small-font-size);
  --list-text-secondary-font-weight: var(--description-font-weight);
  --list-text-secondary-line-height: 1.2em;
  --list-text-secondary-margin: -0.15rem 0 -0.05rem 0; /* TODO: use tokens instead*/
  --list-text-secondary-padding: 0.1rem 0 0.05rem 0;
  --list-draggable-grid-areas: 'handle category content icon actions';
  --list-draggable-grid-inner-column-span: 1 / span 3;
  --list-draggable-grid-outer-column-span: 2 / span 4;
  --list-draggable-grid-template-columns: auto auto 1fr auto auto;
  --list-draggable-handle-icon-size: var(--icon-size-l);
  --list-draggable-handle-width: var(--row-size);
  --list-treelist-expander-height: var(--row-size);
  --list-treelist-expander-width: var(--row-size);
  --list-treelist-grid-areas: 'expander treelist-content';
  --list-treelist-grid-template-columns: auto 1fr;
  --list-treelist-indent-left: var(--row-size);
  --list-treelist-indent-right: var(--space-0);
  --list-treelist-indent-child-left: var(--row-size);
  --list-treelist-indent-child-right: var(--space-0);

  --tile-width: 20rem;
  --tile-width-x2-size: calc(var(--tile-width) * 2 + 1rem);
  --tile-min-height: 12rem;
  --tile-mini-min-height: 3rem;

  --tile-grid-areas: 'icon-loader' 'content' 'custom-content';
  --tile-grid-template-columns: 1fr;
  --tile-grid-template-rows: auto 1fr auto;
  --tile-mini-grid-areas: 'icon-loader content';
  --tile-mini-grid-template-columns: auto 1fr;
  --tile-mini-grid-template-rows: 1fr;
  --tile-header-min-height: var(--list-item-header-min-height);
  --tile-mini-header-min-height: 2.25rem;
  --tile-border: var(--list-item-border);
  --tile-border-radius: var(--list-item-border-radius);
  --tile-border-radius-inner: var(--tile-border-radius);
  --tile-icon-padding: var(--space-0);
  --tile-mini-icon-padding: var(--tile-icon-padding);
  --tile-icon-size: var(--icon-size-l);
  --tile-loader-padding: var(--space-0500) var(--space-0) var(--space-0250) var(--space-0);
  --tile-mini-loader-padding: var(--space-0) var(--space-0750) var(--space-0) var(--space-0);
  --tile-header-padding: var(--space-0);
  --tile-padding: var(--space-1000);
  --tile-text-primary-font-size: var(--list-text-primary-font-size);
  --tile-text-primary-line-height: var(--list-text-primary-line-height);
  --tile-text-primary-font-weight: var(--list-text-primary-font-weight);
  --tile-text-primary-padding: var(--space-0);
  --tile-text-primary-margin: var(--space-1500) var(--space-0) var(--space-0) var(--space-0);
  --tile-mini-text-primary-margin: var(--space-0) var(--space-0) var(--space-0) var(--space-1000);
  --tile-text-secondary-font-size: var(--list-text-secondary-font-size);
  --tile-text-secondary-line-height: var(--list-text-secondary-line-height);
  --tile-text-secondary-font-weight: var(--list-text-secondary-font-weight);
  --tile-text-secondary-padding: var(--space-0);
  --tile-text-secondary-margin: var(--space-1250) var(--space-0) var(--space-0) var(--space-0);

  --data-block-border: var(--list-item-border);
  --data-block-border-radius: var(--list-item-border-radius);
  --data-block-border-radius-inner: var(--data-block-border-radius);
  --data-block-border-radius-expanded: var(--data-block-border-radius);
  --data-block-border-radius-inner-expanded: var(--data-block-border-radius);
  --data-block-button-max-height-m: var(--row-size);
  --data-block-button-max-height-l: 4rem;
  --data-block-button-width-m: var(--row-size);
  --data-block-button-width-l: 4rem;
  --data-block-chevron-height: 1rem;
  --data-block-chevron-width: 1rem;
  --data-block-chevron-wrapper-max-height-m: var(--row-size);
  --data-block-chevron-wrapper-max-height-l: 4rem;
  --data-block-chevron-wrapper-width-m: var(--row-size);
  --data-block-chevron-wrapper-width-l: 4rem;
  --data-block-content-padding-m: 1rem;
  --data-block-content-padding-l: 2rem;
  --data-block-grid-areas: 'icon-loader-selecting content chevron-invalid button';
  --data-block-grid-template-columns: auto 1fr auto auto;
  --data-block-height-m: var(--list-item-min-height);
  --data-block-height-l: 4rem;
  --data-block-icon-size: var(--icon-size-l);
  --data-block-icon-wrapper-max-height-m: var(--row-size);
  --data-block-icon-wrapper-max-height-l: 4rem;
  --data-block-icon-wrapper-width-m: var(--row-size);
  --data-block-icon-wrapper-width-l: 4rem;
  --data-block-invalid-icon-size: var(--icon-size-xs);
  --data-block-left-indent-m: var(--space-1000);
  --data-block-left-indent-l: var(--space-2000);
  --data-block-right-indent-m: var(--space-1000);
  --data-block-right-indent-l: var(--space-2000);
  --data-block-text-primary-font-size: var(--list-text-primary-font-size);
  --data-block-text-primary-font-weight: var(--list-text-primary-font-weight);
  --data-block-text-primary-line-height: var(--list-text-primary-line-height);
  --data-block-text-primary-margin: var(--space-0);
  --data-block-text-primary-padding: var(--space-0250) var(--space-0);
  --data-block-text-secondary-font-size: var(--list-text-secondary-font-size);
  --data-block-text-secondary-font-weight: var(--list-text-secondary-font-weight);
  --data-block-text-secondary-line-height: var(--list-text-secondary-line-height);
  --data-block-text-secondary-margin: calc(var(--space-0125) * -1) var(--space-0);
  --data-block-text-secondary-padding: var(--space-0) var(--space-0) var(--space-0250) var(--space-0);

  --appendable-list-button-padding: var(--space-0250);
  --appendable-list-padding: var(--space-1000) 
                             calc(var(--button-ghost-icon-only-min-width) + var(--space-0500)) 
                             var(--space-1000) 
                             var(--space-1000);
  --appendable-list-padding-compact: var(--space-0500)
                                     calc(var(--button-ghost-icon-only-min-width) + var(--space-0500))
                                     var(--space-0500)
                                     var(--space-0500);
  --appendable-list-padding-expandable: var(--space-1000);
  --appendable-list-padding-expandable-compact: var(--space-0500);

  --input-border: var(--border-width-2) solid transparent;
  --input-border-disabled: var(--border-width-2) solid transparent;
  --input-border-bottom: var(--border-width-1) solid var(--color-label);
  --input-border-bottom-disabled: var(--border-width-1) solid var(--color-disabled-foreground);
  --input-border-radius: var(--border-radius-0);
  --input-button-border-radius: var(--border-radius-0);
  --input-button-height: 2.5rem;
  --input-button-indent-left: var(--space-0);
  --input-button-indent-right: var(--input-icon-wrapper-width);
  --input-button-width: 2.5rem;
  --input-container-height: 2.5rem;
  --input-container-min-height-text-area: 6rem;
  --input-container-padding-left: var(--space-1000);
  --input-container-padding-right: var(--space-1000);
  --input-container-padding-vertical-text-area: var(--space-0250);
  --input-container-width: auto;
  --input-container-width-large: 14rem;
  --input-container-width-small: 10.5rem;
  --input-container-double-width-small: 21.5rem;
  --input-grid-areas: 'tag input invalid-icon icon button';
  --input-grid-template-columns: auto 1fr auto auto auto;
  --input-icon-size: var(--icon-size-s);
  --input-icon-indent-left: var(--space-0);
  --input-icon-indent-right: var(--input-icon-wrapper-width);
  --input-icon-wrapper-height: 100%;
  --input-icon-wrapper-width: var(--input-button-width);
  --input-invalid-icon-size: var(--icon-size-s);
  --input-invalid-icon-indent-left: var(--space-0);
  --input-invalid-icon-indent-right: var(--input-icon-wrapper-width);
  --input-tag-height: 1.5rem;
  --input-tag-indent-left: calc(var(--input-tag-width) + var(--space-1000));
  --input-tag-indent-right: var(--space-0);
  --input-tag-margin: var(--space-0) var(--space-0500);
  --input-tag-width: 2.75rem;
  --input-text-font-size: var(--font-size);
  --input-text-font-weight: 400;

  --button-cursor: pointer;
  --button-loader-margin: var(--space-0);
  --button-set-gap: var(--space-0500);
  --button-text-decoration: none;

  --button-badge-inset: -0.625rem -0.625rem auto auto; /* TODO: replace with token (?) */
  --button-badge-empty-inset: calc(var(--space-0500) * -1) calc(var(--space-0500) * -1) auto auto;
  --button-border-width: var(--border-width-2);
  --button-border-radius: var(--border-radius-default);
  --button-text-font-size: inherit;
  --button-text-font-weight: var(--font-weight-interactive);
  --button-text-alignment: left;
  --button-text-decoration: none;
  --button-gap: var(--space-0750);
  --button-grid-areas: 'content icon';
  --button-grid-template-columns: 1fr auto;
  --button-grid-template-rows: 1fr;
  --button-height: var(--row-size);
  --button-icon-size: var(--icon-size-m);
  --button-min-width: var(--row-size);
  --button-outline-offset: 0;
  --button-padding: var(--space-0) calc(var(--space-1000) - var(--button-border-width)); /* padding - border so that icon is centered */
  --button-width: auto;
  --button-icon-only-height: var(--button-height);
  --button-icon-only-min-width: var(--button-min-width);
  --button-icon-only-padding: var(--space-0);
  --button-icon-only-width: auto;

  --button-primary-badge-inset: var(--button-badge-inset);
  --button-primary-badge-empty-inset: var(--button-badge-empty-inset);
  --button-primary-border-width: var(--button-border-width);
  --button-primary-border: var(--button-primary-border-width) solid var(--color-interactive-background);
  --button-primary-border-radius: var(--button-border-radius);
  --button-primary-text-font-size: var(--button-text-font-size);
  --button-primary-text-font-weight: var(--button-text-font-weight);
  --button-primary-text-alignment: var(--button-text-alignment);
  --button-primary-text-decoration: var(--button-text-decoration);
  --button-primary-gap: var(--button-gap);
  --button-primary-grid-areas: var(--button-grid-areas);
  --button-primary-grid-template-columns: var(--button-grid-template-columns);
  --button-primary-grid-template-rows: var(--button-grid-template-rows);
  --button-primary-height: var(--button-height);
  --button-primary-icon-size: var(--button-icon-size);
  --button-primary-min-width: var(--button-min-width);
  --button-primary-outline-offset: var(--button-outline-offset);
  --button-primary-padding: var(--button-padding);
  --button-primary-width: var(--button-width);
  --button-primary-icon-only-height: var(--button-icon-only-height);
  --button-primary-icon-only-min-width: var(--button-icon-only-min-width);
  --button-primary-icon-only-padding: var(--button-icon-only-padding);
  --button-primary-icon-only-width: var(--button-icon-only-width);

  --button-secondary-badge-inset: var(--button-badge-inset);
  --button-secondary-badge-empty-inset: var(--button-badge-empty-inset);
  --button-secondary-border-width: var(--button-border-width);
  --button-secondary-border: var(--button-secondary-border-width) solid var(--color-interactive-secondary-background);
  --button-secondary-border-radius: var(--button-border-radius);
  --button-secondary-text-font-size: var(--button-text-font-size);
  --button-secondary-text-font-weight: var(--button-text-font-weight);
  --button-secondary-text-alignment: var(--button-text-alignment);
  --button-secondary-text-decoration: var(--button-text-decoration);
  --button-secondary-gap: var(--button-gap);
  --button-secondary-grid-areas: var(--button-grid-areas);
  --button-secondary-grid-template-columns: var(--button-grid-template-columns);
  --button-secondary-grid-template-rows: var(--button-grid-template-rows);
  --button-secondary-height: var(--button-height);
  --button-secondary-icon-size: var(--button-icon-size);
  --button-secondary-min-width: var(--button-min-width);
  --button-secondary-outline-offset: var(--button-outline-offset);
  --button-secondary-padding: var(--button-padding);
  --button-secondary-width: var(--button-width);
  --button-secondary-icon-only-height: var(--button-icon-only-height);
  --button-secondary-icon-only-min-width: var(--button-icon-only-min-width);
  --button-secondary-icon-only-padding: var(--button-icon-only-padding);
  --button-secondary-icon-only-width: var(--button-icon-only-width);

  --button-tertiary-badge-inset: var(--button-badge-inset);
  --button-tertiary-badge-empty-inset: var(--button-badge-empty-inset);
  --button-tertiary-border-width: var(--button-border-width);
  --button-tertiary-border: var(--button-tertiary-border-width) solid var(--color-interactive-background);
  --button-tertiary-border-radius: var(--button-border-radius);
  --button-tertiary-text-font-size: var(--button-text-font-size);
  --button-tertiary-text-font-weight: var(--button-text-font-weight);
  --button-tertiary-text-alignment: var(--button-text-alignment);
  --button-tertiary-text-decoration: var(--button-text-decoration);
  --button-tertiary-gap: var(--button-gap);
  --button-tertiary-grid-areas: var(--button-grid-areas);
  --button-tertiary-grid-template-columns: var(--button-grid-template-columns);
  --button-tertiary-grid-template-rows: var(--button-grid-template-rows);
  --button-tertiary-height: var(--button-height);
  --button-tertiary-icon-size: var(--button-icon-size);
  --button-tertiary-min-width: var(--button-min-width);
  --button-tertiary-outline-offset: -2px;
  --button-tertiary-padding: var(--button-padding);
  --button-tertiary-width: var(--button-width);
  --button-tertiary-icon-only-height: var(--button-icon-only-height);
  --button-tertiary-icon-only-min-width: var(--button-icon-only-min-width);
  --button-tertiary-icon-only-padding: var(--button-icon-only-padding);
  --button-tertiary-icon-only-width: var(--button-icon-only-width);

  --button-ghost-badge-inset: calc(var(--space-0125) * -1) calc(var(--space-0125) * -1) auto auto;
  --button-ghost-badge-empty-inset:calc(var(--space-0125) * -1) calc(var(--space-0125) * -1) auto auto;
  --button-ghost-border-width: var(--button-border-width);
  --button-ghost-border: var(--button-ghost-border-width) solid transparent;
  --button-ghost-border-radius: var(--button-border-radius);
  --button-ghost-text-font-size: var(--button-text-font-size);
  --button-ghost-text-font-weight: var(--button-text-font-weight);
  --button-ghost-text-alignment: var(--button-text-alignment);
  --button-ghost-text-decoration: var(--button-text-decoration);
  --button-ghost-gap: var(--button-gap);
  --button-ghost-grid-areas: var(--button-grid-areas);
  --button-ghost-grid-template-columns: var(--button-grid-template-columns);
  --button-ghost-grid-template-rows: var(--button-grid-template-rows);
  --button-ghost-height: var(--button-height);
  --button-ghost-icon-size: var(--button-icon-size);
  --button-ghost-min-width: var(--button-min-width);
  --button-ghost-outline-offset: -2px;
  --button-ghost-padding: var(--button-padding);
  --button-ghost-width: var(--button-width);
  --button-ghost-icon-only-height: var(--button-icon-only-height);
  --button-ghost-icon-only-min-width: var(--button-icon-only-min-width);
  --button-ghost-icon-only-padding: var(--button-icon-only-padding);
  --button-ghost-icon-only-width: var(--button-icon-only-width);
  
  --popover-item-set-gap: var(--space-0125);
  --popover-item-border-width: var(--button-border-width);
  --popover-item-border: var(--popover-item-border-width) solid var(--color-popover-item-background);
  --popover-item-border-radius: var(--border-radius-default);
  --popover-item-text-font-size: var(--button-text-font-size);
  --popover-item-text-font-weight: var(--button-text-font-weight);
  --popover-item-text-alignment: var(--button-text-alignment);
  --popover-item-text-decoration: var(--button-text-decoration);
  --popover-item-gap: var(--button-gap);
  --popover-item-grid-areas: var(--button-grid-areas);
  --popover-item-grid-template-columns: var(--button-grid-template-columns);
  --popover-item-grid-template-rows: var(--button-grid-template-rows);
  --popover-item-height: var(--row-size-dynamic);
  --popover-item-icon-size: var(--button-icon-size);
  --popover-item-min-width: var(--button-min-width);
  --popover-item-outline-offset: -2px;
  --popover-item-padding: var(--button-padding);
  --popover-item-width: 100%;

  --toolbar-button-group-gap: var(--space-0);
  --toolbar-button-gap: var(--space-0);

  --toolbar-button-primary-border: var(--button-primary-border);
  --toolbar-button-primary-border-radius: var(--button-primary-border-radius);
  --toolbar-button-primary-text-font-size: var(--button-primary-text-font-size);
  --toolbar-button-primary-text-font-weight: var(--button-primary-text-font-weight);
  --toolbar-button-primary-text-alignment: var(--button-primary-text-alignment);
  --toolbar-button-primary-text-decoration: var(--button-primary-text-decoration);
  --toolbar-button-primary-gap: var(--button-primary-gap);
  --toolbar-button-primary-grid-areas: 'content icon';
  --toolbar-button-primary-grid-template-columns: minmax(max-content, 1fr) auto;
  --toolbar-button-primary-grid-template-rows: var(--button-primary-grid-template-rows);
  --toolbar-button-primary-height: var(--button-primary-height);
  --toolbar-button-primary-icon-size: var(--button-primary-icon-size);
  --toolbar-button-primary-min-width: var(--button-primary-min-width);
  --toolbar-button-primary-outline-offset: var(--button-primary-outline-offset);
  --toolbar-button-primary-padding: var(--button-primary-padding);
  --toolbar-button-primary-width: var(--button-primary-width);
  --toolbar-button-primary-icon-only-height: var(--button-primary-icon-only-height);
  --toolbar-button-primary-icon-only-min-width: var(--button-primary-icon-only-min-width);
  --toolbar-button-primary-icon-only-padding: var(--button-primary-icon-only-padding);
  --toolbar-button-primary-icon-only-width: var(--button-primary-icon-only-min-width);

  --toolbar-button-secondary-border: var(--button-secondary-border);
  --toolbar-button-secondary-border-radius: var(--button-secondary-border-radius);
  --toolbar-button-secondary-text-font-size: var(--button-secondary-text-font-size);
  --toolbar-button-secondary-text-font-weight: var(--button-secondary-text-font-weight);
  --toolbar-button-secondary-text-alignment: var(--button-secondary-text-alignment);
  --toolbar-button-secondary-text-decoration: var(--button-secondary-text-decoration);
  --toolbar-button-secondary-gap: var(--button-secondary-gap);
  --toolbar-button-secondary-grid-areas: 'content icon';
  --toolbar-button-secondary-grid-template-columns: minmax(max-content, 1fr) auto;
  --toolbar-button-secondary-grid-template-rows: var(--button-secondary-grid-template-rows);
  --toolbar-button-secondary-height: var(--button-secondary-height);
  --toolbar-button-secondary-icon-size: var(--button-secondary-icon-size);
  --toolbar-button-secondary-min-width: var(--button-secondary-min-width);
  --toolbar-button-secondary-outline-offset: var(--button-secondary-outline-offset);
  --toolbar-button-secondary-padding: var(--button-secondary-padding);
  --toolbar-button-secondary-width: var(--button-secondary-width);
  --toolbar-button-secondary-icon-only-height: var(--button-secondary-icon-only-height);
  --toolbar-button-secondary-icon-only-min-width: var(--button-secondary-icon-only-min-width);
  --toolbar-button-secondary-icon-only-padding: var(--button-secondary-icon-only-padding);
  --toolbar-button-secondary-icon-only-width: var(--button-secondary-icon-only-min-width);

  --toolbar-button-tertiary-border: var(--button-tertiary-border);
  --toolbar-button-tertiary-border-radius: var(--button-tertiary-border-radius);
  --toolbar-button-tertiary-text-font-size: var(--button-tertiary-text-font-size);
  --toolbar-button-tertiary-text-font-weight: var(--button-tertiary-text-font-weight);
  --toolbar-button-tertiary-text-alignment: var(--button-tertiary-text-alignment);
  --toolbar-button-tertiary-text-decoration: var(--button-tertiary-text-decoration);
  --toolbar-button-tertiary-gap: var(--button-tertiary-gap);
  --toolbar-button-tertiary-grid-areas: 'content icon';
  --toolbar-button-tertiary-grid-template-columns: minmax(max-content, 1fr) auto;
  --toolbar-button-tertiary-grid-template-rows: var(--button-tertiary-grid-template-rows);
  --toolbar-button-tertiary-height: var(--button-tertiary-height);
  --toolbar-button-tertiary-icon-size: var(--button-tertiary-icon-size);
  --toolbar-button-tertiary-min-width: var(--button-tertiary-min-width);
  --toolbar-button-tertiary-outline-offset: var(--button-tertiary-outline-offset);
  --toolbar-button-tertiary-padding: var(--button-tertiary-padding);
  --toolbar-button-tertiary-width: var(--button-tertiary-width);
  --toolbar-button-tertiary-icon-only-height: var(--button-tertiary-icon-only-height);
  --toolbar-button-tertiary-icon-only-min-width: var(--button-tertiary-icon-only-min-width);
  --toolbar-button-tertiary-icon-only-padding: var(--button-tertiary-icon-only-padding);
  --toolbar-button-tertiary-icon-only-width: var(--button-tertiary-icon-only-min-width);

  --toolbar-button-ghost-border: var(--button-ghost-border);
  --toolbar-button-ghost-border-radius: var(--button-ghost-border-radius);
  --toolbar-button-ghost-text-font-size: var(--button-ghost-text-font-size);
  --toolbar-button-ghost-text-font-weight: var(--button-ghost-text-font-weight);
  --toolbar-button-ghost-text-alignment: var(--button-ghost-text-alignment);
  --toolbar-button-ghost-text-decoration: var(--button-ghost-text-decoration);
  --toolbar-button-ghost-gap: var(--button-ghost-gap);
  --toolbar-button-ghost-grid-areas: 'content icon';
  --toolbar-button-ghost-grid-template-columns: minmax(max-content, 1fr) auto;
  --toolbar-button-ghost-grid-template-rows: var(--button-ghost-grid-template-rows);
  --toolbar-button-ghost-height: var(--button-ghost-height);
  --toolbar-button-ghost-icon-size: var(--button-ghost-icon-size);
  --toolbar-button-ghost-min-width: var(--button-ghost-min-width);
  --toolbar-button-ghost-outline-offset: var(--button-ghost-outline-offset);
  --toolbar-button-ghost-padding: var(--button-ghost-padding);
  --toolbar-button-ghost-width: var(--button-ghost-width);
  --toolbar-button-ghost-icon-only-height: var(--button-ghost-icon-only-height);
  --toolbar-button-ghost-icon-only-min-width: var(--button-ghost-icon-only-min-width);
  --toolbar-button-ghost-icon-only-padding: var(--button-ghost-icon-only-padding);
  --toolbar-button-ghost-icon-only-width: var(--button-ghost-icon-only-min-width);

  --toolbar-selection-button-border: var(--button-border-width) solid transparent;
  --toolbar-selection-button-border-radius: var(--button-border-radius);
  --toolbar-selection-button-text-font-size: var(--button-text-font-size);
  --toolbar-selection-button-text-font-weight: var(--button-text-font-weight);
  --toolbar-selection-button-text-alignment: var(--button-text-alignment);
  --toolbar-selection-button-text-decoration: var(--button-text-decoration);
  --toolbar-selection-button-gap: var(--button-gap);
  --toolbar-selection-button-grid-areas: 'content icon';
  --toolbar-selection-button-grid-template-columns: minmax(max-content, 1fr) auto;
  --toolbar-selection-button-grid-template-rows: var(--button-grid-template-rows);
  --toolbar-selection-button-height: var(--button-height);
  --toolbar-selection-button-icon-size: var(--button-icon-size);
  --toolbar-selection-button-min-width: var(--button-min-width);
  --toolbar-selection-button-outline-offset: -2px;
  --toolbar-selection-button-padding: var(--button-padding);
  --toolbar-selection-button-width: var(--button-width);
  --toolbar-selection-button-icon-only-height: var(--button-icon-only-height);
  --toolbar-selection-button-icon-only-min-width: var(--button-icon-only-min-width);
  --toolbar-selection-button-icon-only-padding: var(--button-icon-only-padding);
  --toolbar-selection-button-icon-only-width: var(--button-icon-only-width);

  --nav-item-border: var(--border-width-2) solid transparent;
  --nav-item-border-radius: var(--border-radius-0);
  --nav-item-text-font-size: inherit;
  --nav-item-text-font-weight: var(--font-weight-interactive);
  --nav-item-text-alignment: left;
  --nav-item-text-decoration: none;
  --nav-item-gap: var(--space-0750);
  --nav-item-grid-areas: 'icon content';
  --nav-item-grid-template-columns: auto 1fr;
  --nav-item-grid-template-rows: 1fr;
  --nav-item-height: var(--row-size);
  --nav-item-icon-size: var(--icon-size-m);
  --nav-item-min-width: var(--row-size);
  --nav-item-outline-offset: -2px;
  --nav-item-padding: var(--space-0) calc(var(--space-0750) - var(--border-width-2)); /* padding - border so that icon is centered */
  --nav-item-width: 100%;

  --nav-public-item-border: var(--border-width-0);
  --nav-public-item-border-radius: var(--border-radius-0);
  --nav-public-item-text-font-size: inherit;
  --nav-public-item-text-font-weight: var(--font-weight-interactive);
  --nav-public-item-text-alignment: center;
  --nav-public-item-text-decoration: none;
  --nav-public-item-gap: var(--space-1250);
  --nav-public-item-grid-areas: 'content';
  --nav-public-item-grid-template-columns: 1fr;
  --nav-public-item-grid-template-rows: 1fr;
  --nav-public-item-height: calc(var(--row-size) - 1.35px);
  --nav-public-item-icon-size: var(--icon-size-m);
  --nav-public-item-min-width: var(--row-size);
  --nav-public-item-outline-offset: -2px;
  --nav-public-item-padding: var(--space-0) calc(var(--space-1000) - var(--border-width-2)); /* padding - border so that icon is centered */
  --nav-public-item-width: auto;

  --modal-button-primary-border: var(--button-primary-border);
  --modal-button-primary-border-radius: var(--button-primary-border-radius);
  --modal-button-primary-text-font-size: var(--button-primary-text-font-size);
  --modal-button-primary-text-font-weight: var(--button-primary-text-font-weight);
  --modal-button-primary-text-alignment: var(--button-primary-text-alignment);
  --modal-button-primary-text-decoration: var(--button-primary-text-decoration);
  --modal-button-primary-height: 4.5rem;
  --modal-button-primary-min-width: var(--button-primary-min-width);
  --modal-button-primary-outline-offset: var(--button-primary-outline-offset);
  --modal-button-primary-padding: var(--space-0) calc(var(--space-1000) - var(--border-width-2)) var(--space-1250) calc(var(--space-1000) - var(--border-width-2)); /* padding - border so that icon is centered */
  --modal-button-primary-width: 100%;

  --modal-button-secondary-border: var(--button-secondary-border);
  --modal-button-secondary-border-radius: var(--button-secondary-border-radius);
  --modal-button-secondary-text-font-size: var(--button-secondary-text-font-size);
  --modal-button-secondary-text-font-weight: var(--button-secondary-text-font-weight);
  --modal-button-secondary-text-alignment: var(--button-secondary-text-alignment);
  --modal-button-secondary-text-decoration: var(--button-secondary-text-decoration);
  --modal-button-secondary-height: 4.5rem;
  --modal-button-secondary-min-width: var(--button-secondary-min-width);
  --modal-button-secondary-outline-offset: var(--button-secondary-outline-offset);
  --modal-button-secondary-padding: var(--space-0) calc(var(--space-1000) - var(--border-width-2)) var(--space-1250) calc(var(--space-1000) - var(--border-width-2)); /* padding - border so that icon is centered */
  --modal-button-secondary-width: 100%;

  --modal-button-set-flex-direction: row-reverse;
  --modal-button-set-gap: var(--space-0);
  --modal-button-set-justify: stretch;
  --modal-button-set-margin: var(--space-0);
  --modal-button-set-padding: var(--space-0);

  --stack-gap: var(--gap-buttons);
  --stack-gap-compact: var(--space-0);

  --badge-border-width-s: var(--border-width-2);
  --badge-text-line-height: 1;
  --badge-text-font-size: var(--font-size);
  --badge-text-font-weight: var(--font-weight);
  --badge-border-s: var(--badge-border-width-s) solid transparent;
  --badge-border-radius-s: var(--border-radius-1000);
  --badge-padding-s: var(--space-0125) var(--space-0375);
  --badge-padding-icon-only-s: var(--space-0125);
  --badge-width-s: fit-content;
  --badge-height-s: auto;
  --badge-height-empty: 1rem;
  --badge-width-empty: 1rem;
  --badge-min-width-s: 1.5rem;
  --badge-min-height-s: 1.5rem;
  --badge-gap-s: var(--space-0250);
  --badge-icon-size-s: var(--icon-size-xs);
  --badge-grid-template-columns: auto 1fr;
  --badge-grid-areas: 'icon text';

  --loader-height-l: 5.5rem;
  --loader-width-l: 5.5rem;
  --loader-height-s: 1.25rem;
  --loader-width-s: 1.25rem;
  --loader-active-cap: butt;
  --loader-active-width-s: 16;
  --loader-active-width-l: 10;
  --loader-bar-height-s: 0.25rem;
  --loader-bar-height-l: 0.5rem;
  --loader-bar-border-radius-s: var(--border-radius-0);
  --loader-bar-border-radius-l: var(--border-radius-0);
  --loader-bar-min-width: var(--aside-size);
  --loader-bar-indicator-size: var(--icon-size-s);
  --loader-bar-stop-indicator-margin-right-s: var(--space-0);
  --loader-bar-stop-indicator-margin-right-l: var(--space-0125);
  --loader-bar-stop-indicator-width-s: 0.25rem;
  --loader-bar-stop-indicator-height-s: 0.25rem;
  --loader-bar-stop-indicator-width-l: 0.25rem;
  --loader-bar-stop-indicator-height-l: 0.25rem;
  --loader-text-gap: var(--space-0250);
  --loader-text-primary-font-size: var(--font-size);
  --loader-text-primary-font-weight: var(--font-weight);
  --loader-text-primary-line-height: 1.5;
  --loader-text-secondary-font-size: var(--small-font-size);
  --loader-text-secondary-font-weight: var(--font-weight);
  --loader-text-secondary-line-height: 1.1em;
  --loader-state-indicator-size-l: 4rem;
  --loader-state-indicator-margin-l: var(--space-0) var(--space-0) var(--space-1500) var(--space-0);
  --loader-state-indicator-size-s: var(--icon-size-s);
  --loader-state-indicator-margin-s: var(--space-0);
  --loader-row-gap: var(--space-0500);
  --loader-column-gap: var(--space-1000);

  --toggle-border-width-m: var(--border-width-1);
  --toggle-border-width-s: var(--border-width-1);
  --toggle-border-m: var(--toggle-border-width-m) solid var(--color-toggle-border-off);
  --toggle-border-s: var(--toggle-border-width-s) solid var(--color-toggle-border-off);
  --toggle-width-m: 3rem;
  --toggle-height-m: 1.5rem;
  --toggle-width-s: 2rem;
  --toggle-height-s: 1rem;
  --toggle-checkmark-size: 1.5rem;
  --toggle-thumb-width-off-m: 1rem;
  --toggle-thumb-height-off-m: 1rem;
  --toggle-thumb-width-off-s: 0.625rem;
  --toggle-thumb-height-off-s: 0.625rem;
  --toggle-thumb-width-on-m: 1rem;
  --toggle-thumb-height-on-m: 1rem;
  --toggle-thumb-width-on-s: 0.625rem;
  --toggle-thumb-height-on-s: 0.625rem;
  --toggle-thumb-border-radius-m: var(--border-radius-full);
  --toggle-thumb-border-radius-s: var(--border-radius-full);
  --toggle-border-radius-m: var(--border-radius-0750);
  --toggle-border-radius-s: var(--border-radius-0750);
  --toggle-padding-right-m: 0.1875rem;
  --toggle-padding-left-m: 0.1875rem;
  --toggle-padding-right-s: 0.1875rem;
  --toggle-padding-left-s: 0.1875rem;
  --toggle-text-font-weight: var(--font-weight);
  --toggle-text-font-size: var(--small-font-size);
  --toggle-text-line-height: 1.5;
  --toggle-gap: var(--space-0500);

  --content-switcher-container-border-width: var(--border-width-1);
  --content-switcher-container-border: var(--content-switcher-container-border-width) solid var(--color-data);
  --content-switcher-container-border-disabled: var(--content-switcher-container-border-width) solid var(--color-disabled-foreground);
  --content-switcher-container-border-radius: var(--border-radius-0250);
  --content-switcher-container-padding: var(--space-0);
  --content-switcher-item-border-width: var(--border-width-1);
  --content-switcher-item-border: var(--content-switcher-item-border-width) solid transparent;
  --content-switcher-item-border-disabled: var(--content-switcher-item-border-width) solid transparent;
  --content-switcher-inner-border-radius: var(--border-radius-0);
  --content-switcher-outer-border-radius: var(--border-radius-0125); /* --content-switcher-container-border-radius - 2px*/
  --content-switcher-item-height: 2.5rem;
  --content-switcher-item-min-width: 3rem;
  --content-switcher-item-padding: var(--space-0) var(--space-1000);
  --content-switcher-item-gap: var(--space-0);
  --content-switcher-border-selected: var(--content-switcher-item-border-width) solid var(--color-content-switcher-background-selected);
  --content-switcher-inner-border-radius-selected: var(--content-switcher-inner-border-radius);
  --content-switcher-outer-border-radius-selected: var(--content-switcher-outer-border-radius);
  --content-switcher-divider-border: var(--border-width-1) solid var(--color-chrome);
  --content-switcher-divider-height: 1rem;
  --content-switcher-content-gap: var(--space-0500);
  --content-switcher-content-alignment: start;
  --content-switcher-text-font-size: var(--font-size);
  --content-switcher-text-font-weight: var(--font-weight);
  --content-switcher-text-line-height: 1.2em;
  --content-switcher-icon-size: var(--icon-size-s);
}

@media (pointer: coarse), (pointer: none) {
  .lx {
  --row-size-dynamic: var(--row-size);
  }
}

@media (pointer: fine) {
  .lx {
  --row-size-dynamic: 2rem;
  }
}