.lx {
  --color-h: 264;
  --color-s: 92%;
  --color-l: 58%;

  --color-brand-secondary: #4B0DA7;

  --color-background: #f5efff;
  --color-chrome: rgba(0, 0, 0, 0.1);
  --color-region-2: var(--color-background);
  --color-data: #000000;
  --color-label: #000000;
  --color-highlight: hsl(264, 100%, 95%);

  --color-red: #e83077;

  --list-item-border: var(--border-width-1) solid var(--color-chrome);
  --region-border: var(--list-item-border);
  --border-radius-default: calc(var(--row-size) / 2);
  --list-item-border-radius: var(--border-radius-default);

  --input-border-radius: var(--border-radius-default);
  --input-border-bottom: var(--input-border);
  --input-border-bottom-disabled: var(--input-border);

  --color-nav-item-background-selected: var(--color-highlight);

  --button-secondary-border: var(--border-width-1) solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary-text: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-background-focus: var(--color-region);
  --color-button-secondary-text-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);

  --button-primary-text-font-weight: 800;
  --button-secondary-text-font-weight: 800;
  --button-tertiary-text-font-weight: 800;
  --button-ghost-text-font-weight: 800;
  --modal-button-primary-text-font-weight: 800;
  --modal-button-secondary-text-font-weight: 800;
  --toolbar-button-primary-text-font-weight: 800;
  --toolbar-button-secondary-text-font-weight: 800;
  --toolbar-button-tertiary-text-font-weight: 800;
  --toolbar-button-ghost-text-font-weight: 800;

  --color-nav-item-text-hover: var(--color-nav-item-text);
  --color-nav-item-background-hover: var(--color-nav-item-background);
  --color-nav-item-border-hover: transparent;
  --color-nav-item-icon-hover: var(--color-nav-item-icon);

  --color-button-primary-text-hover: var(--color-button-primary-text);
  --color-button-primary-background-hover: var(--color-button-primary-background);
  --color-button-primary-border-hover: var(--color-button-primary-background);
  --color-button-primary-icon-hover: var(--color-button-primary-icon);
  --color-button-secondary-text-hover: var(--color-button-secondary-text);
  --color-button-secondary-background-hover: var(--color-button-secondary-background);
  --color-button-secondary-border-hover: var(--color-chrome);
  --color-button-secondary-icon-hover: var(--color-button-secondary-icon);
  --color-button-tertiary-text-hover: var(--color-button-tertiary-text);
  --color-button-tertiary-background-hover: var(--color-button-tertiary-background);
  --color-button-tertiary-border-hover: var(--color-button-tertiary-text);
  --color-button-tertiary-icon-hover: var(--color-button-tertiary-icon);
  --color-button-ghost-text-hover: var(--color-button-ghost-text);
  --color-button-ghost-background-hover: var(--color-button-ghost-background);
  --color-button-ghost-border-hover: var(--color-button-ghost-background);
  --color-button-ghost-icon-hover: var(--color-button-ghost-icon);
  --color-button-primary-border-focus: var(--color-button-primary-background);
  --color-button-secondary-border-focus: var(--color-chrome);
  --color-button-tertiary-border-focus: var(--color-button-tertiary-text);

  --color-popover-item-text-hover: var(--color-popover-item-text);
  --color-popover-item-background-hover: var(--color-popover-item-background);
  --color-popover-item-border-hover: var(--color-popover-item-background);
  --color-popover-item-icon-hover: var(--color-popover-item-icon);
  --color-popover-item-text-focus: var(--color-popover-item-text);
  --color-popover-item-background-focus: var(--color-popover-item-background);
  --color-popover-item-border-focus:  var(--color-popover-item-background);
  --color-popover-item-icon-focus: var(--color-popover-item-icon);
  --color-popover-item-text-active:  var(--color-popover-item-text);
  --color-popover-item-background-active: var(--color-popover-item-background);
  --color-popover-item-border-active: var(--color-popover-item-background);
  --color-popover-item-icon-active: var(--color-popover-item-icon);

  --color-modal-button-primary-text-hover: var(--color-modal-button-primary-text);
  --color-modal-button-primary-background-hover: var(--color-modal-button-primary-background);
  --color-modal-button-primary-border-hover: var(--color-modal-button-primary-background);
  --color-modal-button-secondary-text-hover: var(--color-modal-button-secondary-text);
  --color-modal-button-secondary-background-hover: var(--color-modal-button-secondary-background);
  --color-modal-button-secondary-border-hover: var(--color-modal-button-secondary-background);
  --color-modal-button-primary-text-active: var(--color-modal-button-primary-text);
  --color-modal-button-primary-background-active: var(--color-modal-button-primary-background);
  --color-modal-button-primary-border-active: var(--color-modal-button-primary-background);
  --color-modal-button-secondary-text-active: var(--color-modal-button-secondary-text);
  --color-modal-button-secondary-background-active: var(--color-modal-button-secondary-background);
  --color-modal-button-secondary-border-active: var(--color-modal-button-secondary-background);

  --color-button-primary-text-active: var(--color-button-primary-text);
  --color-button-primary-background-active: var(--color-button-primary-background);
  --color-button-primary-border-active: var(--color-button-primary-background);
  --color-button-primary-icon-active: var(--color-button-primary-icon);
  --color-button-secondary-text-active: var(--color-button-secondary-text);
  --color-button-secondary-background-active: var(--color-button-secondary-background);
  --color-button-secondary-border-active: var(--color-chrome);
  --color-button-secondary-icon-active: var(--color-button-secondary-icon);
  --color-button-tertiary-text-active: var(--color-button-tertiary-text);
  --color-button-tertiary-background-active: var(--color-button-tertiary-background);
  --color-button-tertiary-border-active: var(--color-button-tertiary-text);
  --color-button-tertiary-icon-active: var(--color-button-tertiary-icon);
  --color-button-ghost-text-active: var(--color-button-ghost-text);
  --color-button-ghost-background-active: var(--color-button-ghost-background);
  --color-button-ghost-border-active: var(--color-button-ghost-background);
  --color-button-ghost-icon-active: var(--color-button-ghost-icon);
}

.lx.lx-theme-dark {
  --color-h-dark: 270;
  --color-s-dark: 100%;
  --color-l-dark: 73%;

  --color-brand-secondary: #993FFF;

  --color-highlight: hsl(264, 50%, 33%);
  --color-background: #18151d;
  --color-region-2: var(--color-background);
  --color-chrome: #0d0c10;

  --button-secondary-border: var(--border-width-1) solid var(--color-chrome);
  --color-button-secondary-background: var(--color-region);
  --color-button-secondary-text: var(--color-brand);
  --color-button-secondary-icon: var(--color-brand);
  --color-button-secondary-background-focus: var(--color-region);
  --color-button-secondary-text-focus: var(--color-brand);
  --color-button-secondary-icon-focus: var(--color-brand);

  --color-nav-item-text-hover: var(--color-nav-item-text);
  --color-nav-item-background-hover: var(--color-nav-item-background);
  --color-nav-item-border-hover: transparent;
  --color-nav-item-icon-hover: var(--color-nav-item-icon);

  --color-button-primary-text-hover: var(--color-button-primary-text);
  --color-button-primary-background-hover: var(--color-button-primary-background);
  --color-button-primary-border-hover: var(--color-button-primary-background);
  --color-button-primary-icon-hover: var(--color-button-primary-icon);
  --color-button-secondary-text-hover: var(--color-button-secondary-text);
  --color-button-secondary-background-hover: var(--color-button-secondary-background);
  --color-button-secondary-border-hover: var(--color-chrome);
  --color-button-secondary-icon-hover: var(--color-button-secondary-icon);
  --color-button-tertiary-text-hover: var(--color-button-tertiary-text);
  --color-button-tertiary-background-hover: var(--color-button-tertiary-background);
  --color-button-tertiary-border-hover: var(--color-button-tertiary-text);
  --color-button-tertiary-icon-hover: var(--color-button-tertiary-icon);
  --color-button-ghost-text-hover: var(--color-button-ghost-text);
  --color-button-ghost-background-hover: var(--color-button-ghost-background);
  --color-button-ghost-border-hover: var(--color-button-ghost-background);
  --color-button-ghost-icon-hover: var(--color-button-ghost-icon);
  --color-button-primary-border-focus: var(--color-button-primary-background);
  --color-button-secondary-border-focus: var(--color-chrome);
  --color-button-tertiary-border-focus: var(--color-button-tertiary-text);

  --color-popover-item-text-hover: var(--color-popover-item-text);
  --color-popover-item-background-hover: var(--color-popover-item-background);
  --color-popover-item-border-hover: var(--color-popover-item-background);
  --color-popover-item-icon-hover: var(--color-popover-item-icon);
  --color-popover-item-text-focus: var(--color-popover-item-text);
  --color-popover-item-background-focus: var(--color-popover-item-background);
  --color-popover-item-border-focus:  var(--color-popover-item-background);
  --color-popover-item-icon-focus: var(--color-popover-item-icon);
  --color-popover-item-text-active:  var(--color-popover-item-text);
  --color-popover-item-background-active: var(--color-popover-item-background);
  --color-popover-item-border-active: var(--color-popover-item-background);
  --color-popover-item-icon-active: var(--color-popover-item-icon);

  --color-modal-button-primary-text-hover: var(--color-modal-button-primary-text);
  --color-modal-button-primary-background-hover: var(--color-modal-button-primary-background);
  --color-modal-button-primary-border-hover: var(--color-modal-button-primary-background);
  --color-modal-button-secondary-text-hover: var(--color-modal-button-secondary-text);
  --color-modal-button-secondary-background-hover: var(--color-modal-button-secondary-background);
  --color-modal-button-secondary-border-hover: var(--color-modal-button-secondary-background);
  --color-modal-button-primary-text-active: var(--color-modal-button-primary-text);
  --color-modal-button-primary-background-active: var(--color-modal-button-primary-background);
  --color-modal-button-primary-border-active: var(--color-modal-button-primary-background);
  --color-modal-button-secondary-text-active: var(--color-modal-button-secondary-text);
  --color-modal-button-secondary-background-active: var(--color-modal-button-secondary-background);
  --color-modal-button-secondary-border-active: var(--color-modal-button-secondary-background);

  --color-button-primary-text-active: var(--color-button-primary-text);
  --color-button-primary-background-active: var(--color-button-primary-background);
  --color-button-primary-border-active: var(--color-button-primary-background);
  --color-button-primary-icon-active: var(--color-button-primary-icon);
  --color-button-secondary-text-active: var(--color-button-secondary-text);
  --color-button-secondary-background-active: var(--color-button-secondary-background);
  --color-button-secondary-border-active: var(--color-chrome);
  --color-button-secondary-icon-active: var(--color-button-secondary-icon);
  --color-button-tertiary-text-active: var(--color-button-tertiary-text);
  --color-button-tertiary-background-active: var(--color-button-tertiary-background);
  --color-button-tertiary-border-active: var(--color-button-tertiary-text);
  --color-button-tertiary-icon-active: var(--color-button-tertiary-icon);
  --color-button-ghost-text-active: var(--color-button-ghost-text);
  --color-button-ghost-background-active: var(--color-button-ghost-background);
  --color-button-ghost-border-active: var(--color-button-ghost-background);
  --color-button-ghost-icon-active: var(--color-button-ghost-icon);
}