.lx.lx-theme-dark ::backdrop {
  --color-cover-background: rgba(0, 0, 0, 0.75);
}

.lx.lx-theme-dark {
  --color-h-dark: var(--color-h);
  --color-s-dark: min(60%, var(--color-s));
  --color-l-dark: 70%;
  --color-brand: hsl(var(--color-h-dark), var(--color-s-dark), var(--color-l-dark));
  --color-interactive-background: var(--color-brand);
  --color-interactive-foreground: #18181a;
  --color-interactive-hover-background: hsl(var(--color-h), var(--color-s), var(--color-l));
  --color-interactive-hover-foreground: #eee;
  --color-interactive-secondary-background: #6f6f6f;
  --color-interactive-secondary-foreground: #eee;
  --color-interactive-secondary-hover-background: #000;
  --color-interactive-secondary-hover-foreground: #eee;
  --color-interactive-active-background: #000000;
  --color-interactive-active-foreground: #eee;
  --color-disabled-background: #333339;
  --color-disabled-foreground: #5d5d68;
  --color-focus-background: #4795fc;
  --color-focus-foreground: #fff;
  --color-layout-background: #030304;
  --color-navbar-background: var(--color-region);
  --color-nav-background: var(--color-layout-background);
  --color-nav-foreground: #ccc;
  --color-nav-chrome: var(--color-chrome);
  --color-nav-hover-background: #131316;
  --color-nav-hover-foreground: #fff;
  --color-tooltip-background: #000;
  --color-tooltip-foreground: #fff;
  --color-tooltip-foreground-label: #cccccc;
  --color-tooltip-foreground-data: #fff;
  --color-latvijalv-alert-background: #2d313b;
  --color-latvijalv-alert-foreground: #fff;
  --color-latvijalv-alert-hover-foreground: var(--color-latvijalv-alert-foreground);
  --color-latvijalv-alert-hover-background: #000;
  --color-grid-header: var(--color-chrome);
  --color-grid-hover-background: var(--color-tile-hover-background);
  --color-grid-hover-foreground: var(--color-tile-hover-foreground);
  --color-grid-header-hover-background: #252525;
  --color-highlight: #124c58;
  --color-highlight-background: var(--color-highlight);
  --color-highlight-foreground: var(--color-data);

  --color-cover-title: var(--color-data);
  --color-checkmark-foreground: #111;
  --color-checkmark-hover-foreground: #fff;

  --color-background: #18181a;
  --color-background-overlay: rgba(24, 24, 26, 0.75);
  --color-foreground: #ddd;
  --color-cover-background: rgba(0, 0, 0, 0.75);
  --color-region: #27282d;
  --color-region-hover: #35373c;
  --color-region-hover-background: var(--color-region-hover);
  --color-region-hover-foreground: var(--color-data);
  --color-tab-selected: transparent;
  --color-tab-selected-background: transparent;
  --color-tab-selected-foreground: var(--color-data);
  --color-region-2: #151516;
  --color-chrome: #35373c;
  --color-footer-label: #979797;
  --color-label: #979797;
  --color-data: var(--color-foreground);
  --color-disabled: #888;
  --color-yellow-foreground: var(--color-region);

  --color-green: #36b37e;
  --color-red: #ff5630;
  --color-orange: #ffab00;
  --color-purple: #998dd9;
  --color-blue: #4c9aff;
  --color-teal: #00b8d9;
  --color-yellow: #f1c21b;
  --color-grey: var(--color-label);

  --color-good: rgb(25, 128, 56);
  --color-bad: var(--color-red);
  --color-warning: var(--color-orange);
  --color-neutral: var(--color-grey);
  --color-destructive: var(--color-red);
  --color-draft: var(--color-blue);
  --color-edited: var(--color-orange);
  --color-ongoing: var(--color-orange);
  --color-incomplete: var(--color-blue);
  --color-waiting: var(--color-grey);
  --color-inactive: var(--color-grey);
  --color-finished: var(--color-green);
  --color-signed: var(--color-purple);
  --color-deleted: var(--color-grey);
  --color-error: var(--color-red);

  --color-state-new: var(--color-blue);
  --color-state-edited: var(--color-orange);
  --color-state-finished: var(--color-green);
  --color-state-deleted: var(--color-label);

  --color-notification-success-foreground: #198038;
  --color-notification-success-background: #040a06;
  --color-notification-warning-foreground: #f1c21b;
  --color-notification-warning-background: #241b0c;
  --color-notification-error-foreground: #e85961;
  --color-notification-error-background: #2d0004;

  --color-shadow: rgb(0 0 0 / 20%);

  --color-placeholder: #6c6c6c;
  --color-placeholder-disabled: #333333;

  --color-selected: var(--color-data);
  --color-selected-border: var(--color-brand);
  --color-selected-background: var(--color-highlight);
  --color-selected-dropdown: var(--color-selected);
  --color-selected-dropdown-background: var(--color-selected-background);
  --color-selected-dropdown-border: transparent transparent transparent var(--color-selected-border);

  --color-info-wrapper-close-hover-background: var(--color-nav-hover-background);

  --color-card-foreground: var(--color-data);
  --color-card-background: var(--color-region);
  --color-card-background-region: var(--color-region-2);
  --color-card-hover-background: var(--color-region-hover-background);
  --color-card-hover-foreground: var(--color-region-hover-foreground);

  --color-tile-foreground: var(--color-data);
  --color-tile-hover-foreground: var(--color-data);
  --color-tile-background: var(--color-list-background);
  --color-tile-hover-background: var(--color-list-hover-background);
  --color-tile-primary: var(--color-list-primary);
  --color-tile-secondary: var(--color-list-secondary);
  --color-tile-icon: var(--color-list-icon);
  --color-tile-icon-hover: var(--color-list-icon-hover);
  --color-tile-disabled-foreground: var(--color-list-disabled-foreground);
  --color-tile-hover-text-primary: var(--color-list-hover-text-primary);
  --color-tile-hover-text-secondary: var(--color-list-hover-text-secondary);

  --color-list-background: var(--color-region);
  --color-list-handle-icon: var(--color-label);
  --color-list-icon: var(--color-data);
  --color-list-primary: var(--color-data);
  --color-list-region-background: var(--color-region-2);
  --color-list-secondary: var(--color-label);
  --color-list-disabled-foreground: var(--color-disabled);
  --color-list-disabled-selected-text: var(--color-disabled);
  --color-list-icon-hover: var(--color-region-hover-foreground);
  --color-list-hover-handle-icon: var(--color-region-hover-foreground);
  --color-list-hover-background: var(--color-region-hover-background);
  --color-list-hover-text-primary: var(--color-region-hover-foreground);
  --color-list-hover-text-secondary: var(--color-region-hover-foreground);

  --color-input: var(--color-data);
  --color-input-background: var(--color-region);
  --color-input-disabled: var(--color-disabled-foreground);
  --color-input-disabled-background: transparent;
  --color-input-icon: var(--color-label);
  --color-input-disabled-icon: var(--color-disabled-foreground);
  --color-input-region-background: var(--color-region-2);
  --color-input-selected-range-background: var(--color-highlight);

  --color-button-active-mode: var(--color-data);
  --color-button-active-mode-background: var(--color-highlight);
  --color-button-active-mode-border: var(--color-highlight);
  --color-button-active-mode-icon: var(--color-button-active-mode);
  --color-button-destructive: var(--color-interactive-foreground);
  --color-button-destructive-background: var(--color-destructive);
  --color-button-destructive-border: var(--color-destructive);
  --color-button-destructive-icon: var(--color-interactive-foreground);
  
  --color-button-primary-text: var(--color-interactive-foreground);
  --color-button-primary-background: var(--color-interactive-background);
  --color-button-primary-text-focus: var(--color-interactive-foreground);
  --color-button-primary-background-focus: var(--color-interactive-background);
  --color-button-primary-border-focus: var(--color-background);
  --color-button-primary-text-active: var(--color-interactive-active-foreground);
  --color-button-primary-background-active: var(--color-interactive-active-background);
  --color-button-primary-border-active: var(--color-background);
  --color-button-primary-text-disabled: var(--color-disabled-foreground);
  --color-button-primary-background-disabled: var(--color-disabled-background);
  --color-button-primary-border-disabled: var(--color-disabled-background);
  --color-button-primary-text-hover: var(--color-interactive-hover-foreground);
  --color-button-primary-background-hover: var(--color-interactive-hover-background);
  --color-button-primary-border-hover: var(--color-interactive-hover-background);
  --color-button-primary-icon: var(--color-interactive-foreground);
  --color-button-primary-icon-active: var(--color-interactive-active-foreground);
  --color-button-primary-icon-disabled: var(--color-disabled-foreground);
  --color-button-primary-icon-focus: var(--color-interactive-foreground);
  --color-button-primary-icon-hover: var(--color-interactive-hover-foreground);

  --color-button-secondary-text: var(--color-interactive-secondary-foreground);
  --color-button-secondary-background: var(--color-interactive-secondary-background);
  --color-button-secondary-text-focus: var(--color-interactive-secondary-foreground);
  --color-button-secondary-background-focus: var(--color-interactive-secondary-background);
  --color-button-secondary-border-focus: var(--color-background);
  --color-button-secondary-text-active: var(--color-interactive-active-foreground);
  --color-button-secondary-background-active: var(--color-interactive-active-background);
  --color-button-secondary-border-active: var(--color-background);
  --color-button-secondary-text-disabled: var(--color-disabled-foreground);
  --color-button-secondary-background-disabled: var(--color-disabled-background);
  --color-button-secondary-border-disabled: var(--color-disabled-background);
  --color-button-secondary-text-hover: var(--color-interactive-hover-foreground);
  --color-button-secondary-background-hover: var(--color-interactive-hover-background);
  --color-button-secondary-border-hover: var(--color-interactive-hover-background);
  --color-button-secondary-icon: var(--color-interactive-secondary-foreground);
  --color-button-secondary-icon-active: var(--color-interactive-active-foreground);
  --color-button-secondary-icon-disabled: var(--color-disabled-foreground);
  --color-button-secondary-icon-focus: var(--color-interactive-secondary-foreground);
  --color-button-secondary-icon-hover: var(--color-interactive-hover-foreground);

  --color-button-tertiary-text: var(--color-interactive-background);
  --color-button-tertiary-background: transparent;
  --color-button-tertiary-text-focus: var(--color-interactive-background);
  --color-button-tertiary-background-focus: transparent;
  --color-button-tertiary-border-focus: var(--color-focus-background);
  --color-button-tertiary-text-active: var(--color-interactive-active-foreground);
  --color-button-tertiary-background-active: var(--color-interactive-active-background);
  --color-button-tertiary-border-active: var(--color-interactive-active-background);
  --color-button-tertiary-text-disabled: var(--color-disabled-foreground);
  --color-button-tertiary-background-disabled: transparent;
  --color-button-tertiary-border-disabled: var(--color-disabled-foreground);
  --color-button-tertiary-text-hover: var(--color-interactive-hover-foreground);
  --color-button-tertiary-background-hover: var(--color-interactive-hover-background);
  --color-button-tertiary-border-hover: var(--color-interactive-hover-background);
  --color-button-tertiary-icon: var(--color-interactive-background);
  --color-button-tertiary-icon-active: var(--color-interactive-active-foreground);
  --color-button-tertiary-icon-disabled: var(--color-disabled-foreground);
  --color-button-tertiary-icon-focus: var(--color-interactive-background);
  --color-button-tertiary-icon-hover: var(--color-interactive-hover-foreground);
  
  --color-button-ghost-text: var(--color-interactive-background);
  --color-button-ghost-background: transparent;
  --color-button-ghost-text-focus: var(--color-interactive-background);
  --color-button-ghost-background-focus: transparent;
  --color-button-ghost-border-focus: transparent;
  --color-button-ghost-text-active: var(--color-interactive-active-foreground);
  --color-button-ghost-background-active: var(--color-interactive-active-background);
  --color-button-ghost-border-active: var(--color-interactive-active-background);
  --color-button-ghost-text-disabled: var(--color-disabled-foreground);
  --color-button-ghost-background-disabled: transparent;
  --color-button-ghost-border-disabled: transparent;
  --color-button-ghost-text-hover: var(--color-interactive-hover-foreground);
  --color-button-ghost-background-hover: var(--color-interactive-hover-background);
  --color-button-ghost-border-hover: var(--color-interactive-hover-background);
  --color-button-ghost-icon: var(--color-interactive-background);
  --color-button-ghost-icon-active: var(--color-interactive-active-foreground);
  --color-button-ghost-icon-disabled: var(--color-disabled-foreground);
  --color-button-ghost-icon-focus: var(--color-interactive-background);
  --color-button-ghost-icon-hover: var(--color-interactive-hover-foreground);

  --color-popover-item-text: var(--color-data);
  --color-popover-item-background: transparent;
  --color-popover-item-text-active: var(--color-interactive-active-foreground);
  --color-popover-item-background-active: var(--color-interactive-active-background);
  --color-popover-item-border-active: var(--color-interactive-active-background);
  --color-popover-item-text-focus: var(--color-data);
  --color-popover-item-background-focus: transparent;
  --color-popover-item-border-focus: transparent;
  --color-popover-item-text-disabled: var(--color-disabled-foreground);
  --color-popover-item-background-disabled: transparent;
  --color-popover-item-border-disabled: transparent;
  --color-popover-item-text-hover: var(--color-data);
  --color-popover-item-background-hover: var(--color-region-hover);
  --color-popover-item-border-hover: var(--color-region-hover);
  --color-popover-item-icon: var(--color-data);
  --color-popover-item-icon-active: var(--color-interactive-active-foreground);
  --color-popover-item-icon-disabled: var(--color-disabled-foreground);
  --color-popover-item-icon-focus: var(--color-data);
  --color-popover-item-icon-hover: var(--color-data);

  --color-toolbar-button-primary-text: var(--color-button-primary-text);
  --color-toolbar-button-primary-background: var(--color-button-primary-background);
  --color-toolbar-button-primary-text-focus: var(--color-button-primary-text-focus);
  --color-toolbar-button-primary-background-focus: var(--color-button-primary-background-focus);
  --color-toolbar-button-primary-border-focus: var(--color-button-primary-border-focus);
  --color-toolbar-button-primary-text-active: var(--color-button-primary-text-active);
  --color-toolbar-button-primary-background-active: var(--color-button-primary-background-active);
  --color-toolbar-button-primary-border-active: var(--color-button-primary-border-active);
  --color-toolbar-button-primary-text-disabled: var(--color-button-primary-text-disabled);
  --color-toolbar-button-primary-background-disabled: var(--color-button-primary-background-disabled);
  --color-toolbar-button-primary-border-disabled: var(--color-button-primary-border-disabled);
  --color-toolbar-button-primary-text-hover: var(--color-button-primary-text-hover);
  --color-toolbar-button-primary-background-hover: var(--color-button-primary-background-hover);
  --color-toolbar-button-primary-border-hover: var(--color-button-primary-border-hover);
  --color-toolbar-button-primary-icon: var(--color-button-primary-icon);
  --color-toolbar-button-primary-icon-active: var(--color-button-primary-icon-active);
  --color-toolbar-button-primary-icon-disabled: var(--color-button-primary-icon-disabled);
  --color-toolbar-button-primary-icon-focus: var(--color-button-primary-icon-focus);
  --color-toolbar-button-primary-icon-hover: var(--color-button-primary-icon-hover);

  --color-toolbar-button-secondary-text: var(--color-button-secondary-text);
  --color-toolbar-button-secondary-background: var(--color-button-secondary-background);
  --color-toolbar-button-secondary-text-focus: var(--color-button-secondary-text-focus);
  --color-toolbar-button-secondary-background-focus: var(--color-button-secondary-background-focus);
  --color-toolbar-button-secondary-border-focus: var(--color-button-secondary-border-focus);
  --color-toolbar-button-secondary-text-active: var(--color-button-secondary-text-active);
  --color-toolbar-button-secondary-background-active: var(--color-button-secondary-background-active);
  --color-toolbar-button-secondary-border-active: var(--color-button-secondary-border-active);
  --color-toolbar-button-secondary-text-disabled: var(--color-button-secondary-text-disabled);
  --color-toolbar-button-secondary-background-disabled: var(--color-button-secondary-background-disabled);
  --color-toolbar-button-secondary-border-disabled: var(--color-button-secondary-border-disabled);
  --color-toolbar-button-secondary-text-hover: var(--color-button-secondary-text-hover);
  --color-toolbar-button-secondary-background-hover: var(--color-button-secondary-background-hover);
  --color-toolbar-button-secondary-border-hover: var(--color-button-secondary-border-hover);
  --color-toolbar-button-secondary-icon: var(--color-button-secondary-icon);
  --color-toolbar-button-secondary-icon-active: var(--color-button-secondary-icon-active);
  --color-toolbar-button-secondary-icon-disabled: var(--color-button-secondary-icon-disabled);
  --color-toolbar-button-secondary-icon-focus: var(--color-button-secondary-icon-focus);
  --color-toolbar-button-secondary-icon-hover: var(--color-button-secondary-icon-hover);

  --color-toolbar-button-tertiary-text: var(--color-button-tertiary-text);
  --color-toolbar-button-tertiary-background: var(--color-button-tertiary-background);
  --color-toolbar-button-tertiary-text-focus: var(--color-button-tertiary-text-focus);
  --color-toolbar-button-tertiary-background-focus: var(--color-button-tertiary-background-focus);
  --color-toolbar-button-tertiary-border-focus: var(--color-button-tertiary-border-focus);
  --color-toolbar-button-tertiary-text-active: var(--color-button-tertiary-text-active);
  --color-toolbar-button-tertiary-background-active: var(--color-button-tertiary-background-active);
  --color-toolbar-button-tertiary-border-active: var(--color-button-tertiary-border-active);
  --color-toolbar-button-tertiary-text-disabled: var(--color-button-tertiary-text-disabled);
  --color-toolbar-button-tertiary-background-disabled: var(--color-button-tertiary-background-disabled);
  --color-toolbar-button-tertiary-border-disabled: var(--color-button-tertiary-border-disabled);
  --color-toolbar-button-tertiary-text-hover: var(--color-button-tertiary-text-hover);
  --color-toolbar-button-tertiary-background-hover: var(--color-button-tertiary-background-hover);
  --color-toolbar-button-tertiary-border-hover: var(--color-button-tertiary-border-hover);
  --color-toolbar-button-tertiary-icon: var(--color-button-tertiary-icon);
  --color-toolbar-button-tertiary-icon-active: var(--color-button-tertiary-icon-active);
  --color-toolbar-button-tertiary-icon-disabled: var(--color-button-tertiary-icon-disabled);
  --color-toolbar-button-tertiary-icon-focus: var(--color-button-tertiary-icon-focus);
  --color-toolbar-button-tertiary-icon-hover: var(--color-button-tertiary-icon-hover);

  --color-toolbar-button-ghost-text: var(--color-data);
  --color-toolbar-button-ghost-background: var(--color-button-ghost-background);
  --color-toolbar-button-ghost-text-focus: var(--color-data);
  --color-toolbar-button-ghost-background-focus: var(--color-button-ghost-background-focus);
  --color-toolbar-button-ghost-border-focus: var(--color-button-ghost-border-focus);
  --color-toolbar-button-ghost-text-active: var(--color-button-ghost-text-active);
  --color-toolbar-button-ghost-background-active: var(--color-button-ghost-background-active);
  --color-toolbar-button-ghost-border-active: var(--color-button-ghost-border-active);
  --color-toolbar-button-ghost-text-disabled: var(--color-button-ghost-text-disabled);
  --color-toolbar-button-ghost-background-disabled: var(--color-button-ghost-background-disabled);
  --color-toolbar-button-ghost-border-disabled: var(--color-button-ghost-border-disabled);
  --color-toolbar-button-ghost-text-hover: var(--color-button-ghost-text-hover);
  --color-toolbar-button-ghost-background-hover: var(--color-button-ghost-background-hover);
  --color-toolbar-button-ghost-border-hover: var(--color-button-ghost-border-hover);
  --color-toolbar-button-ghost-icon: var(--color-data);
  --color-toolbar-button-ghost-icon-active: var(--color-button-ghost-icon-active);
  --color-toolbar-button-ghost-icon-disabled: var(--color-button-ghost-icon-disabled);
  --color-toolbar-button-ghost-icon-focus: var(--color-data);
  --color-toolbar-button-ghost-icon-hover: var(--color-button-ghost-icon-hover);

  --color-toolbar-selection-button-text: var(--color-interactive-foreground);
  --color-toolbar-selection-button-background: transparent;
  --color-toolbar-selection-button-text-focus: var(--color-interactive-foreground);
  --color-toolbar-selection-button-background-focus: transparent;
  --color-toolbar-selection-button-border-focus: transparent;
  --color-toolbar-selection-button-text-active: var(--color-interactive-active-foreground);
  --color-toolbar-selection-button-background-active: var(--color-interactive-active-background);
  --color-toolbar-selection-button-border-active: var(--color-interactive-active-background);
  --color-toolbar-selection-button-text-disabled: var(--color-disabled-foreground);
  --color-toolbar-selection-button-background-disabled: var(--color-disabled-background);
  --color-toolbar-selection-button-border-disabled: var(--color-disabled-background);
  --color-toolbar-selection-button-text-hover: var(--color-interactive-hover-foreground);
  --color-toolbar-selection-button-background-hover: var(--color-interactive-hover-background);
  --color-toolbar-selection-button-border-hover: var(--color-interactive-hover-background);
  --color-toolbar-selection-button-icon: var(--color-interactive-foreground);
  --color-toolbar-selection-button-icon-active: var(--color-interactive-active-foreground);
  --color-toolbar-selection-button-icon-disabled: var(--color-disabled-foreground);
  --color-toolbar-selection-button-icon-focus: var(--color-interactive-foreground);
  --color-toolbar-selection-button-icon-hover: var(--color-interactive-hover-foreground);
  
  --color-nav-item-text: #eee;
  --color-nav-item-background: transparent;
  --color-nav-item-text-hover: var(--color-interactive-hover-foreground);
  --color-nav-item-background-hover: var(--color-interactive-hover-background);
  --color-nav-item-border-hover: transparent;
  --color-nav-item-icon: #eee;
  --color-nav-item-icon-hover: var(--color-interactive-hover-foreground);
  --color-nav-item-icon-selected: #eee;
  --color-nav-item-text-selected: #eee;
  --color-nav-item-background-selected: #35373c;
  --color-nav-item-border-selected: transparent;
  --color-nav-item-border-left-selected: var(--color-brand);
  
  --color-nav-public-item-text: var(--color-nav-foreground);
  --color-nav-public-item-background: transparent;
  --color-nav-public-item-text-hover: var(--color-nav-foreground);
  --color-nav-public-item-background-hover: var(--color-nav-hover-background);
  --color-nav-public-item-border-hover: transparent;
  --color-nav-public-item-icon: var(--color-nav-foreground);
  --color-nav-public-item-icon-hover: var(--color-nav-foreground);

  --color-modal-button-primary-text: var(--color-button-primary-text);
  --color-modal-button-primary-background: var(--color-button-primary-background);
  --color-modal-button-primary-text-focus: var(--color-button-primary-text-focus);
  --color-modal-button-primary-background-focus: var(--color-button-primary-background-focus);
  --color-modal-button-primary-border-focus: var(--color-button-primary-border-focus);
  --color-modal-button-primary-text-active: var(--color-button-primary-text-active);
  --color-modal-button-primary-background-active: var(--color-button-primary-background-active);
  --color-modal-button-primary-border-active: var(--color-button-primary-border-active);
  --color-modal-button-primary-text-disabled: var(--color-button-primary-text-disabled);
  --color-modal-button-primary-background-disabled: var(--color-button-primary-background-disabled);
  --color-modal-button-primary-border-disabled: var(--color-button-primary-border-disabled);
  --color-modal-button-primary-text-hover: var(--color-button-primary-text-hover);
  --color-modal-button-primary-background-hover: var(--color-button-primary-background-hover);
  --color-modal-button-primary-border-hover: var(--color-button-primary-border-hover);

  --color-modal-button-secondary-text: var(--color-button-secondary-text);
  --color-modal-button-secondary-background: var(--color-button-secondary-background);
  --color-modal-button-secondary-text-focus: var(--color-button-secondary-text-focus);
  --color-modal-button-secondary-background-focus: var(--color-button-secondary-background-focus);
  --color-modal-button-secondary-border-focus: var(--color-button-secondary-border-focus);
  --color-modal-button-secondary-text-active: var(--color-button-secondary-text-active);
  --color-modal-button-secondary-background-active: var(--color-button-secondary-background-active);
  --color-modal-button-secondary-border-active: var(--color-button-secondary-border-active);
  --color-modal-button-secondary-text-disabled: var(--color-button-secondary-text-disabled);
  --color-modal-button-secondary-background-disabled: var(--color-button-secondary-background-disabled);
  --color-modal-button-secondary-border-disabled: var(--color-button-secondary-border-disabled);
  --color-modal-button-secondary-text-hover: var(--color-button-secondary-text-hover);
  --color-modal-button-secondary-background-hover: var(--color-button-secondary-background-hover);
  --color-modal-button-secondary-border-hover: var(--color-button-secondary-border-hover);

  --color-data-block-primary: var(--color-data);
  --color-data-block-secondary: var(--color-label);
  --color-data-block-background: var(--color-region);
  --color-data-block-region-background: var(--color-region-2);
  --color-data-block-hover-background: var(--color-region-hover);
  --color-data-block-hover-foreground: var(--color-region-hover-foreground);
  --color-data-block-icon: var(--color-label);
  --color-data-block-button-icon: var(--color-data);
  --color-data-block-chevron: var(--color-data);
  --color-data-block-disabled-foreground: var(--color-disabled-foreground);

  --color-loader-active: var(--color-interactive-background);
  --color-loader-track: var(--color-chrome);
  --color-loader-text-primary: var(--color-data);
  --color-loader-text-secondary: var(--color-label);
  --color-loader-bar-stop-indicator: transparent;

  --color-toggle-background-off: var(--color-region);
  --color-toggle-background-on: var(--color-interactive-background);
  --color-toggle-background-hover-off: var(--color-region);
  --color-toggle-background-hover-on: var(--color-interactive-hover-background);
  --color-toggle-thumb-off: var(--color-data);
  --color-toggle-thumb-on: var(--color-region);
  --color-toggle-thumb-hover-off: var(--color-interactive-hover-background);
  --color-toggle-thumb-hover-on: var(--color-region);
  --color-toggle-checkmark: var(--color-region);
  --color-toggle-checkmark-hover: var(--color-region);
  --color-toggle-border-off: var(--color-data);
  --color-toggle-border-on: transparent;
  --color-toggle-border-hover-off: var(--color-interactive-hover-background);
  --color-toggle-border-hover-on: transparent;
  --color-toggle-text: var(--color-data);
  
  --color-content-switcher-container-background: transparent;
  --color-content-switcher-item-background: transparent;
  --color-content-switcher-icon: var(--color-data);
  --color-content-switcher-text: var(--color-data);
  --color-content-switcher-background-selected: var(--color-data);
  --color-content-switcher-text-selected: var(--color-background);
  --color-content-switcher-icon-selected: var(--color-background);
  --color-content-switcher-item-background-hover: var(--color-region-hover-background);
  --color-content-switcher-text-hover: var(--color-region-hover-foreground);
  --color-content-switcher-icon-hover: var(--color-region-hover-foreground);

  --color-badge-background: var(--color-region);
  --color-badge-text: var(--color-data);
  --color-badge-icon: var(--color-data);

  --color-draft-background: var(--color-draft);
  --color-new-background: var(--color-new);
  --color-edited-background: var(--color-edited);
  --color-error-background: var(--color-error);
  --color-inactive-background: var(--color-inactive);
  --color-incomplete-background: var(--color-incomplete);
  --color-finished-background: var(--color-finished);
  --color-deleted-background: var(--color-deleted);
  --color-ongoing-background: var(--color-ongoing);
  --color-signed-background: var(--color-signed);
  --color-waiting-background: var(--color-waiting);
  --color-red-background: var(--color-red);
  --color-green-background: var(--color-green);
  --color-blue-background: var(--color-blue);
  --color-purple-background: var(--color-purple);
  --color-orange-background: var(--color-orange);
  --color-yellow-background: var(--color-yellow);
  --color-teal-background: var(--color-teal);

  --color-draft-foreground: var(--color-region);
  --color-new-foreground: var(--color-region);
  --color-edited-foreground: var(--color-region);
  --color-error-foreground: var(--color-region);
  --color-inactive-foreground: var(--color-region);
  --color-incomplete-foreground: var(--color-region);
  --color-finished-foreground: var(--color-region);
  --color-deleted-foreground: var(--color-region);
  --color-ongoing-foreground: var(--color-region);
  --color-signed-foreground: var(--color-region);
  --color-waiting-foreground: var(--color-region);
  --color-red-foreground: var(--color-region);
  --color-green-foreground: var(--color-region);
  --color-blue-foreground: var(--color-region);
  --color-purple-foreground: var(--color-region);
  --color-orange-foreground: var(--color-region);
  --color-yellow-foreground: #333;
  --color-teal-foreground: var(--color-region);
}